{% load static %}
{% block content %}
<html lang="pt-BR" >
<body>  
    <div class="container fade-in mt-4 mb-4 text-start" style="height:50vh;background-color: #0B1940;position: relative;z-index:-1;">    
      <div class="container-fluid" stype="height:50vh;">
        <h1 class="text-light" style="font-size: clamp(16px, 12vw, 90px);margin-top:15vh;">{{titulo}}</h1>
        <div class="col-md-8">
          <p class="text-light mt-4" style="font-size: clamp(1px, 4vw, 20px)">{{texto}}</p>    
        </div>        
      </div>
    </div>
</body>

</html>
{% endblock %}
