{% load static %}
{% block content %}
<html lang="pt-BR" >
<body>  
    <div class="container fade-in mt-4 mb-4 text-start" style="height:80vh;background-color: #0B1940;position: relative;z-index:-1;">    
      <div class="container-fluid">
        <h1 class="text-light" style="font-size: 60px;margin-top:20vh;">{{titulo}}</h1>
        <div class="col-md-8">
          <p class="text-light mt-4">{{texto}}</p>    
        </div>        
      </div>
    </div>
</body>

</html>
{% endblock %}

<!--
  <div class="card border-0 bg-transparent">          
            <div class="col-md-8">
              <div class="card-body text-start">                                     
                <p class="card-text">
                  
                  {%if 'Cientista de dados' in texto %}
                    
                  {%else%}
                  <a class='no-underline' style="color: {% if request.font == 'dark' %}dimgray {% else %} #E6E3E3; {% endif %}" href="{% url 'conteudos' %}">Conteúdos</a>
                  <br>
                  <a class='no-underline' style="color: {% if request.font == 'dark' %}dimgray {% else %} #E6E3E3; {% endif %}" href="{% url 'ebooks' %}">E-books</a>
                  {%endif%}
                </p>                             
              </div>
            </div>
          </div>
        </div>  
-->