{% load static %}
{% block content %}
<html lang="pt-BR" >
<body>  
    <div class="container fade-in mt-4 mb-4">
        <div class="row">
          <div class="col-12 text-center">
        <hr class="mx-auto" style="width: 100%; height: 2px; background-color: #000;">
          </div>
        </div>
      
        <h2 id="about-section" class="fs-2 no-underline fw-bolder">Sobre</h2>
        <div class="card border-0 bg-{{request.theme}}">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="{% static 'perfil2.png' %}" class="img-fluid rounded-start rounded-circle" alt="Rodrigo Jovê" style="height: 25vh; max-height: 200px;">
            </div>
            <div class="col-md-8">
              <div class="card-body text-justify text-{{request.font}}">
                <p id="about-section" class="fs-4 no-underline fw-bolder  text-{{request.font}} mb-4">Rodrigo Jovê</p>
                <p class="card-text">Cientista de dados, especialista no setor imobiliário, constrói informações do zero com Python, desde a extração e estruturação de dados à insights e modelos econométricos robustos e eficientes.</p>
                <p class="card-text">
                    <a class='no-underline' style="color: {% if request.font == 'dark' %}dimgray {% else %} #E6E3E3; {% endif %}" href="{% url 'sobre' %}">Informações adicionais</a>
                </p>                             
              </div>
            </div>
          </div>
        </div>  
      </div>
</body>

</html>
{% endblock %}