{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>

        <div class="row mb-4"></div>
        <div class="row row-cols-1 row-cols-md-2 g-4 p-4 ">
            <div class="col">
                <div class="card text-center d-flex flex-column" style="min-height: 30vh;">                        
    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Gerenciamento nativo</h5>
                      <p class="card-text">Acesse todos os bancos de dados através da página nativa do django.</p>                      
                      <a class="btn btn-outline-dark mt-auto" style='width:100%;' href='/admin/'>Django Admin</a>
                    </div>                        
                  </div>
            </div>
            <div class="col">
                <div class="card text-center d-flex flex-column" style="min-height: 30vh;">                        
    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Web-marketing</h5>
                      <p class="card-text">Seção responsável pelo gerenciamento de contatos (CRM), agendamento de e-mails, e-mails promocionais, campanhas publicitárias, etc.</p>
                      <a class="btn btn-outline-dark mt-auto mb-2" style='width:100%;' href="{%url 'painel_email'%}">Painel geral</a>
                      <a class="btn btn-outline-dark mt-auto" style='width:100%;' href="{%url 'crm'%}">CRM</a>
                    </div>                        
                </div>
            </div>
            <div class="col">
                <div class="card text-center d-flex flex-column" style="min-height: 30vh;">                        
    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Brading - Expertise</h5>
                      <p class="card-text">Seção responsável pela construção da imagem profissional. Aqui você poderá partilhar suas publicações e leituras recomendadas.</p>
                      <a class="btn btn-outline-dark mt-auto mb-2" style='width:100%;' href="{%url 'painel_conteudos'%}">Gerenciador de conteúdos</a>
                      <a class="btn btn-outline-dark mt-auto" style='width:100%;' href="{%url 'painel_leituras'%}">Gerenciador de leituras</a>
                    </div>                        
                  </div>
            </div>
            <div class="col">
                <div class="card text-center d-flex flex-column" style="min-height: 30vh;">                        
    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Brading - Products</h5>
                      <p class="card-text">Seção responsável pela construção da imagem profissional. Aqui você poderá os ebooks e cursos pagos ou gratuitos que desejar.</p>
                      <a class="btn btn-outline-dark mt-auto mb-2" style='width:100%;' href="{%url 'painel_ebooks' %}">Gerenciador de E-books</a>
                      <a class="btn btn-outline-dark mt-auto" style='width:100%;' href="#">Gerenciador de cursos</a>
                    </div>                        
                  </div>
            </div>
          </div>        
    </body>
</html>
{% endblock %}
