<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Redes Sociais</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Newsletter</h5>
        <p>Receba nossas novidades por e-mail:</p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Seu e-mail" aria-label="Seu e-mail" aria-describedby="button-addon2">
          <button class="btn btn-primary" type="button" id="button-addon2">Assinar</button>
        </div>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p>&copy; 2024 Nome da Empresa. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>