{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfólio de Rodrigo Jovê (jove.py)</title>
        <meta name="description" content="Graduando em economia pela UFPB, atuando no registro imobiliário do Cartório Eunápio Torres, com habilidades na construção de informação via webscraping e análise de dados. Visa contribuir para a eficiência e inovação no setor imobiliário, promovendo soluções baseadas em uma compreensão aprofundada das tendências de mercado. Comprometido com o desenvolvimento contínuo de habilidades para apoiar decisões estratégicas e melhorar serviços no mercado imobiliário.">
        <meta name="keywords" content="desenvolvedor Python, programador Python, economia, análise de dados, carreira em Python, economista programador, análise econômica, data science, ciência de dados, análise financeira, finanças, mercado financeiro, análise de investimentos, programação financeira, Python no mercado financeiro, mercado imobiliário, análise imobiliária, investimento imobiliário, ciência de dados imobiliários, Python para imóveis">
        <link rel="canonical" href="www.jovepy.com.br">
        <!-- Inserir aqui outros elementos do head, como CSS e scripts -->
        <style>
          
        </style>
    </head>
    <body class="text-{{request.theme}}">
      conteudo
    </body>
</html>
{% endblock %}