{% load static %}
{% block content %}
<html lang="pt-BR" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'particles/css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- particles.js container -->
<div style="width: 100%;">
<div id="particles-js" style="height:70vh;">
  <div class="container-fluid" style="z-index:-1;position: absolute; background-color: #0B1940;">                
    <div class="mt-4 d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none" > 
      {% include 'mobile/apresentacao.html'%}          
    </div>            
    <div class="mt-4 d-none d-lg-block d-print-block" >
      {% include 'desktop/apresentacao.html'%}
    </div>    
</div>
</div>
</div>  
  <script src="{% static 'particles/particles.min.js' %}" ></script>
  <script  src="{% static 'script.js' %}"></script>


</body>
</html>
{% endblock %}