{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>        
          <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-start text-{{request.theme}}">
            <h2 class="fs-2 no-underline fw-bolder">Sobre</h2>
            <p class="fs-6">
                Meu nome é Rodrigo Jovê, nasci em Campo Grande, MS, e atualmente resido em João Pessoa, PB, onde trabalho no Cartório Eunápio Torres. Em 2019, iniciei meus estudos em Economia na Universidade Federal da Paraíba e, mais tarde, integrei o Laboratório de Inteligência Artificial e Macroeconomia Computacional (LABIMEC). Essa trajetória acadêmica forneceu a base sólida necessária para desenvolver minhas habilidades como cientista de dados. A combinação dos conhecimentos econômicos, estatísticos e técnicos adquiridos durante a graduação, juntamente com a experiência prática obtida no laboratório, possibilitou a aplicação efetiva de conceitos teóricos em situações reais.
            </p>
            <p class="fs-6">
                Os desafios que superei me proporcionaram uma valiosa experiência na criação e manutenção de modelos estatísticos. Minha jornada incluiu desde a coleta de dados não estruturados, obtidos tanto da internet quanto de documentos físicos digitalizados, até a realização de testes de hipóteses, desenvolvimento de dashboards e geração de insights. A limpeza e estruturação desses dados coletados foram realizadas utilizando Python, juntamente com frameworks relevantes como Django e Selenium, aprimorando significativamente a eficácia dos processos envolvidos.
            </p>
            <p class="fs-6">
                Além disso, Minha proficiência avançada em Python tem sido fundamental para automatizar e otimizar uma variedade de processos no registro de imóveis. Através da estruturação e manipulação eficiente de dados, bem como do tratamento de imagens, consegui tornar esses procedimentos não apenas mais eficientes, mas também mais econômicos.
            </p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>         
      
    </body>
</html>
{% endblock %}