{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>        
          <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-start text-{{request.theme}}">
            <h2 class="fs-2 no-underline fw-bolder">Sobre</h2>
            <p class="fs-6">Me chamo Rodrigo Jovê, natural de Campo Grande, MS, e atualmente residente de João Pesso, PB, e trabalha no Cartório Eunápio Torres.
            Ingressei em 2019 na Universidade Federal da Paraíba para Economia,e, posteriormente, no Laboratório de Inteligência Artificial e Macroeconomia Computacional - LABIMEC.
            Esse conjunto acadêmico me proporcionou o alicerce necessário para desenvolver minhas habilidades como cientista de dados, pois os fundamentos econômicos, estatísticos e instrumentais proporcionados pela graduação aliados à prática exigida pelo laboratório tornaram possível a aplicação de conhecimentos teóricos à realidade.
             
            </div>
            <div class="col-3"></div>
        </div>
    </div>         
      
    </body>
</html>
{% endblock %}