{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>        
          <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-start text-{{request.theme}}">
            <h2 class="fs-2 no-underline fw-bolder">Sobre</h2>
            <p class="fs-6">Me chamo Rodrigo Jovê, natural de Campo Grande, MS, e atualmente residente de João Pesso, PB, e trabalha no Cartório Eunápio Torres.
            Ingressei em 2019 na Universidade Federal da Paraíba para Economia,e, posteriormente, no Laboratório de Inteligência Artificial e Macroeconomia Computacional - LABIMEC.
            Esse conjunto acadêmico me proporcionou o alicerce necessário para desenvolver minhas habilidades como cientista de dados, pois os fundamentos econômicos, estatísticos e instrumentais proporcionados pela graduação aliados à prática exigida pelo laboratório tornaram possível a aplicação de conhecimentos teóricos à realidade.             
            </p>
            <p class="fs-6">
                Os desafios superados me deram a oportunidade adquirir uma sólida experiência na criação e alimentação de modelos estatísticos, desde a raspagem de dados não estruturados, sejam eles oriundos da internet ou de documentos físicos via informatização, aos testes de hipoteses, dashboards e criação de insight's, através da limpeza e estruturação dos dados colerados utilizando Python e frameworks relacionados como Django e Selenium.
            </p>
            <p class="fs-6">
                Além disso, meu conhecimento avançado em Python me permitiu automatizar e acelerar diversos processos relacionados ao registro de imóveis, via estruturação e manipulação de dados, bem como manipulação de imagens, diversos processos se tornaram mais eficientes e baratos de serem executados.
            </p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>         
      
    </body>
</html>
{% endblock %}