{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="pt-BR" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'particles/css/style.css' %}">
  <meta http-equiv="refresh" content="20;url={%url 'inicio'%}">
  <title>Sucesso</title>

</head>
<body>
<!-- partial:index.partial.html -->
<!-- particles.js container -->
<div style="width: 100%;">
<div id="particles-js" style="height:70vh;">
  <div class="container-fluid" style="z-index:-1;position: absolute; background-color: #0B1940;">                
    <div class="container-fluid p-4" style="height: 70vh;">
        <div class="col-md-6" style="margin:15vh">
            <h1>{{titulo}}</h1>
            <p>{{texto}}</p>
            <p>Em breve você será redirecionado automaticamente.</p>
        </div>
    </div>
</div>
</div>
</div>  
  <script src="{% static 'particles/particles.min.js' %}" ></script>
  <script  src="{% static 'script.js' %}"></script>


</body>
</html>
{% endblock %}