<!-- templates/conteudo_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid text-{{request.font}} mt-3 p-4">   
        {%if request.idioma == 'portugues' %}     
        <h2 class="fs-2 no-underline fw-bolder mb-3 ">Publicações</h2>   
        {%else%}
        <h2 class="fs-2 no-underline fw-bolder mb-3 ">Publications</h2>   
        {%endif%}
        <div class="input-group mb-3">
          {%if request.idioma == 'portugues' %}                    
          <input type="text" class="form-control" id="filtro" placeholder="O que você está procurando?" aria-describedby="basic-addon1">
          {%else%}              
        <input type="text" class="form-control" id="filtro" placeholder="What are you looking for?" aria-describedby="basic-addon1">
          {%endif%}
        </div>        
        <div id="conteudos">
          <p id="nenhum-resultado" class='text-{{request.font}}' style="display: none;">
            Não existe publicação com esse texto. Verifique em meu linkedin ou role abaixo até encontrar o que desejava.
          </p>
            {% for conteudo in conteudos %}
            <div class="documento card mb-3 imagem-efeito" data-titulo="{% if request.idioma == 'portugues' %}{{ conteudo.titulo }}{{ conteudo.descricao }}{% else %}{{ conteudo.titulo_ingles }}{{ conteudo.descricao_ingles }}{% endif %}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ conteudo.link_imagem }}" class="img-fluid rounded-start" style="object-fit: cover;height: max-content;min-height:100%; max-height:100vw;">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body text-start flex-grow-1">
                            {% if request.idioma == 'portugues' %}
                                <h5 class="card-title fw-bold">{{ conteudo.titulo }}</h5>
                                <p class="card-text">{{ conteudo.descricao }}</p>
                            {% else %}
                                <h5 class="card-title fw-bold">{{ conteudo.titulo_ingles }}</h5>
                                <p class="card-text">{{ conteudo.descricao_ingles }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-transparent border-0 text-end">
                            {% if request.idioma == 'portugues' %}
                                <a href="{{ conteudo.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Ler publicação</a>
                                <a href="{{ conteudo.link_notbook }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Ver código</a>
                            {% else %}
                                <a href="{{ conteudo.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Read publication</a>
                                <a href="{{ conteudo.link_notbook }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">View code</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <li>Nenhuma publicação disponível.</li>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const filtroInput = document.getElementById('filtro');
    const documentos = document.getElementsByClassName('documento');
    const nenhumResultado = document.getElementById('nenhum-resultado');

    filtroInput.addEventListener('input', function() {
        const filtro = filtroInput.value.toLowerCase();
        let encontrouResultado = false;

        for (let i = 0; i < documentos.length; i++) {
            const titulo = documentos[i].getAttribute('data-titulo').toLowerCase();
            if (titulo.includes(filtro)) {
                documentos[i].style.display = 'block';
                encontrouResultado = true;
            } else {
                documentos[i].style.display = 'none';
            }
        }

        if (!encontrouResultado) {
            nenhumResultado.style.display = 'block';
        } else {
            nenhumResultado.style.display = 'none';
        }
    });
});

    </script>
    {% endblock %}
