<!-- templates/conteudo_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid text-{{request.font}} mt-3">
        <div class="row">
        <div class="input-group mb-3" style="display: none;">
          {%if request.idioma == 'portugues' %}                    
          <input type="text" class="form-control" id="filtro" placeholder="O que você está procurando?" aria-describedby="basic-addon1">
          {%else%}              
        <input type="text" class="form-control" id="filtro" placeholder="What are you looking for?" aria-describedby="basic-addon1">
          {%endif%}
        </div> 
        </div>        
        <div id="conteudos">
          <p id="nenhum-resultado" class='text-{{request.font}}' style="display: none;">
            Não existe conteúdo com esse título. Verifique em meu linkedin ou role abaixo até encontrar o que desejava.
          </p>
            {% for conteudo in conteudos %}
            <div class="documento card mb-3 ms-4 me-4" data-titulo="{% if request.idioma == 'portugues' %}{{ conteudo.titulo }}{% else %}{{ conteudo.titulo_ingles }}{% endif %}" >
              <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ conteudo.link_imagem }}" class="img-fluid rounded-start" style="height: 250px;object-fit: cover;">
                    </div>
                    <div class="col-md-8">
                        {% if request.idioma == 'portugues' %}
                        <div class="card-body text-start">
                            <h5 class="card-title">{{ conteudo.titulo }}</h5>
                            <p class="card-text">{{ conteudo.descricao }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-end">
                            <a href="{{ conteudo.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Ler conteúdo</a>
                            <a href="{{ conteudo.link_notbook }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Ver código</a>
                        </div>
                        {% else %}
                        <div class="card-body text-start">
                            <h5 class="card-title">{{ conteudo.titulo_ingles }}</h5>
                            <p class="card-text">{{ conteudo.descricao_ingles }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-end">
                            <a href="{{ conteudo.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Read content</a>
                            <a href="{{ conteudo.link_notbook }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">View code</a>
                        </div>
                        {% endif %}
                        

                    </div>
                </div>
            </div>
            {% empty %}
            <li>Nenhum conteúdo disponível.</li>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const filtroInput = document.getElementById('filtro');
    const documentos = document.getElementsByClassName('documento');
    const nenhumResultado = document.getElementById('nenhum-resultado');

    filtroInput.addEventListener('input', function() {
        const filtro = filtroInput.value.toLowerCase();
        let encontrouResultado = false;

        for (let i = 0; i < documentos.length; i++) {
            const titulo = documentos[i].getAttribute('data-titulo').toLowerCase();
            if (titulo.includes(filtro)) {
                documentos[i].style.display = 'block';
                encontrouResultado = true;
            } else {
                documentos[i].style.display = 'none';
            }
        }

        if (!encontrouResultado) {
            nenhumResultado.style.display = 'block';
        } else {
            nenhumResultado.style.display = 'none';
        }
    });
});

    </script>
    {% endblock %}
