<!-- templates/conteudo_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid text-{{request.font}} mt-3">
        <h2 class="fs-2 no-underline fw-bolder mb-4 mt-4 text-start ms-4">E-books</h2>

        <ul>            
            <div class="card p-4 me-4">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'teclado_mouse_python.jpg' %}" class="img-fluid rounded-start" style="width: 100%;object-fit: cover;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      {%if request.idioma == 'portugues' %}
                      <h5 class="card-title">Teclado, Mouse & Python: Automatize qualquer tarefa feita no computador. Um manual prático de automação para todos.</h5>
                      <p class="card-text">Teclado, Mouse & Python" é um guia indispensável para qualquer pessoa que deseja aumentar sua produtividade e reduzir erros no uso do computador. Este livro oferece uma abordagem prática e acessível para a automação de tarefas cotidianas, desde simples operações de digitação até processos complexos, utilizando a linguagem de programação Python.</p>   
                      <p class="card-text">Com instruções claras e exemplos detalhados, você aprenderá a utilizar o poder do Python para automatizar qualquer coisa, desde a organização de arquivos até a manipulação de dados e interações com aplicativos. Este manual abrangente é adequado para iniciantes e profissionais, fornecendo uma base sólida para explorar todo o potencial de automação oferecido pela combinação do teclado, mouse e Python.
                      </p>   
                      <p class="card-text">Ao dominar as técnicas apresentadas neste livro, você estará preparado para simplificar sua vida digital, liberando tempo para atividades mais importantes e reduzindo o risco de erros tediosos. Não importa se você é um estudante, profissional ou entusiasta de tecnologia, "Teclado, Mouse & Python" irá capacitá-lo a automatizar tarefas de forma eficiente e eficaz, transformando sua experiência computacional.</p>                                            
                      <p class="card-text fw-bolder">Inscreva-se para receber a proposta de lançamento do livro. Você será automaticamente inscrito na minha newsletter e poderá cancelar a inscrição a qualquer momento.</p>                                                                  
                      {%else%}
                      <h5 class="card-title">Keyboard, Mouse & Python: Automate Any Computer Task. A Practical Automation Guide for Everyone.</h5>
                      <p class="card-text">"Keyboard, Mouse & Python" is an indispensable guide for anyone looking to increase their productivity and reduce errors in computer usage. This book offers a practical and accessible approach to automating everyday tasks, from simple typing operations to complex processes, using the Python programming language.</p>
                      <p class="card-text">With clear instructions and detailed examples, you will learn to harness the power of Python to automate anything from file organization to data manipulation and interactions with applications. This comprehensive manual is suitable for beginners and professionals alike, providing a solid foundation for exploring the full potential of automation offered by the combination of keyboard, mouse, and Python.</p>
                      <p class="card-text">By mastering the techniques presented in this book, you will be prepared to simplify your digital life, freeing up time for more important activities and reducing the risk of tedious errors. Whether you are a student, professional, or technology enthusiast, "Keyboard, Mouse & Python" will empower you to automate tasks efficiently and effectively, transforming your computing experience.</p>
                      <p class="card-text fw-bolder">Sign up to receive the book launch proposal. You will be automatically subscribed to my newsletter and can unsubscribe at any time. The book will only be available in Brazilian Portuguese.</p>
                      </div>
                      {%endif%}
                    </div>                    
                    <div class="card-footer bg-transparent border-0 text-end">
                      <div class="input-group mb-3">
                        <form class="text-{{request.font}}" method="post" id="lancamento_livro" name='lancamento_livro' novalidate> 
                          {% csrf_token %}
                          <div class="input-group text-dark mb-3" >
                          {{ form}} 
                            <button class="btn btn-outline-dark" type="submit" id="button-addon2">inscrever-se</button>
                          </div>  
                          </form>                        
                      </div>
                    </div>                    
                  </div>
                  
                </div>
              </div>            
        </ul>
    </div>
{% endblock %}