<!-- templates/conteudo_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid text-{{request.theme}} mt-3">
        <h2 class="fs-2 no-underline fw-bolder mb-4 mt-4 text-start ms-4">Conteúdos</h2>

        <ul>            
            <div class="card mb-3" style="max-width: 80vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'teclado_mouse_python.jpg' %}" class="img-fluid rounded-start" style="width: 100%;object-fit: cover;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title">Teclado, Mouse & Python: Automatize qualquer tarefa feita no computador. Um manual prático de automação para todos.</h5>
                      <p class="card-text">Teclado, Mouse & Python" é um guia indispensável para qualquer pessoa que deseja aumentar sua produtividade e reduzir erros no uso do computador. Este livro oferece uma abordagem prática e acessível para a automação de tarefas cotidianas, desde simples operações de digitação até processos complexos, utilizando a linguagem de programação Python.</p>   
                      <p class="card-text">Com instruções claras e exemplos detalhados, você aprenderá a utilizar o poder do Python para automatizar qualquer coisa, desde a organização de arquivos até a manipulação de dados e interações com aplicativos. Este manual abrangente é adequado para iniciantes e profissionais, fornecendo uma base sólida para explorar todo o potencial de automação oferecido pela combinação do teclado, mouse e Python.
                      </p>   
                      <p class="card-text">Ao dominar as técnicas apresentadas neste livro, você estará preparado para simplificar sua vida digital, liberando tempo para atividades mais importantes e reduzindo o risco de erros tediosos. Não importa se você é um estudante, profissional ou entusiasta de tecnologia, "Teclado, Mouse & Python" irá capacitá-lo a automatizar tarefas de forma eficiente e eficaz, transformando sua experiência computacional.</p>                                            
                      <p class="card-text fw-bolder">Inscreva-se para receber a proposta de lançamento do livro. VOcê será automaticamente inscrito na minha newsletter e poderá cancelar a inscrição a qualquer momento.</p>                                                                  
                    </div>                    
                    <div class="card-footer bg-transparent border-0 text-end">
                      <div class="input-group mb-3">
                        <form class="text-{{request.font}}" method="post" id="lancamento_livro" name='lancamento_livro' novalidate> 
                          {% csrf_token %}
                          <div class="input-group mb-3" >
                          {{ form.as_p}} 
                            <button class="btn btn-outline-dark" type="submit" id="button-addon2">inscrever-se</button>
                          </div>  
                          </form>                        
                      </div>
                    </div>                    
                  </div>
                  
                </div>
              </div>            
        </ul>
    </div>
{% endblock %}